<div class="detail-section">
    <div class="container-fluid">

        <h3>{{ armor.name }}</h3>

        <img src="{{ armor.imageUrl }}" class="detail-img">

        <h4 class="mt-3">Stats:</h4>

        <div class="row px-3">
            <div class="col-sm-1 border border-secondary">
                Weight:
            </div>
            <div class="col-sm-3 border border-secondary">
                {{ armor.weight }}
            </div>
        </div>
        <div class="row px-3">
            <div class="col-sm-1 border border-secondary">
                P. Def.:
            </div>
            <div class="col-sm-3 border border-secondary">
                {{ armor.pdef }}
            </div>
        </div>
        <div class="row px-3">
            <div class="col-sm-1 border border-secondary">
                M. Def.:
            </div>
            <div class="col-sm-3 border border-secondary">
                {{ armor.mdef }}
            </div>
        </div>
        <div class="row px-3">
            <div class="col-sm-1 border border-secondary">
                MP Bonus:
            </div>
            <div class="col-sm-3 border border-secondary">
                {{ armor.mpBonus }}
            </div>
        </div>
        <div class="row px-3">
            <div class="col-sm-1 border border-secondary">
                Base Price:
            </div>
            <div class="col-sm-3 border border-secondary">
                {{ armor.price | currency:' '}} adena
            </div>
        </div>
        <div class="row px-3">
            <div class="col-sm-1 border border-secondary">
                Grade:
            </div>
            <div class="col-sm-3 border border-secondary">
                {{ armor.grade }}
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>





        
    </div>
</div>