<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            
            <div *ngIf="currentClassDescription != null" class="alert alert-dark col-md-12" role="alert">
                {{ currentClassDescription }}
            </div>
            <br>

            <div class="row">

                <!-- loop over the collection of characters-->
                <div *ngFor="let tempCharacter of characters" class="col-md-3">

                    <div class="character-box">

                        <a routerLink="/characters/{{ tempCharacter.id }}">
                            <img src="{{ tempCharacter.characterClass.imageUrl }}" class="img-responsive">
                        </a>
                        <br>
                        <a routerLink="/characters/{{ tempCharacter.id }}">
                            <h1>{{ tempCharacter.name }}</h1>
                        </a>

                        <div class="class">{{ tempCharacter.characterClass.name }}</div>
                        <div class="level">Level: {{ tempCharacter.level }}</div>
                    </div>

                </div>

                <!-- if characters empty then display a message -->
                <div *ngIf="characters?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No characters found.
                </div>

            </div>
        </div>
    </div>
</div>