<!-- <div class="container-fluid" [ngStyle]="{backgroundImage:'url(assets/images/inventory.jpg)'}"> -->

<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <h3 class="px-3">Name: {{ equipment.character.name }}</h3>
    <h3 class="px-3">Class: {{ equipment.character.characterClass.name }}</h3>
    <h3 class="px-3">Level: {{ equipment.character.level }}</h3>
    <h3 class="px-3">Race: {{ equipment.character.race }}</h3>
    <h3 class="px-3">Sex: {{ equipment.character.sex }}</h3>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/armor/helmet/{{ equipment.helmet?.id }}">
                        <img src="{{ equipment.helmet?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/accessories/necklace/{{ equipment.necklace?.id }}">
                        <img src="{{ equipment.necklace?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row mt-3" style="height: 45px;">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/armor/helmet/{{ equipment.helmet?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.helmet?.name }}
                    </a>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/accessories/necklace/{{ equipment.necklace?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.necklace?.name }}
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="row height: 150px">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-center">
                    <a routerLink="/weapons/{{ equipment.weapon?.id }}">
                        <img src="{{ equipment.weapon?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/typed-armor/chest/{{ equipment.chest?.id }}">
                        <img src="{{ equipment.chest?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/shields/{{ equipment.shield?.id }}">
                        <img src="{{ equipment.shield?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/accessories/earring/{{ equipment.earring1?.id }}">
                        <img src="{{ equipment.earring1?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/accessories/earring/{{ equipment.earring2?.id }}">
                        <img src="{{ equipment.earring2?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row  mt-3" style="height: 45px;">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-center">
                    <a routerLink="/weapons/{{ equipment.weapon?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.weapon?.name }}
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/typed-armor/chest/{{ equipment.chest?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.chest?.name }}
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/shields/{{ equipment.shield?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.shield?.name }}
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/accessories/earring/{{ equipment.earring1?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.earring1?.name }}
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/accessories/earring/{{ equipment.earring2?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.earring2?.name }}
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-center">
                    <a routerLink="/armor/gloves/{{ equipment.gloves?.id }}">
                        <img src="{{ equipment.gloves?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/typed-armor/legs/{{ equipment.legs?.id }}">
                        <img src="{{ equipment.legs?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/armor/boots/{{ equipment.boots?.id }}">
                        <img src="{{ equipment.boots?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/accessories/ring/{{ equipment.ring1?.id }}">
                        <img src="{{ equipment.ring1?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/accessories/ring/{{ equipment.ring2?.id }}">
                        <img src="{{ equipment.ring2?.imageUrl }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row  mt-3" style="height: 45px;">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-center">
                    <a routerLink="/armor/gloves/{{ equipment.gloves?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.gloves?.name }}
                    </a>
                </div>
                <div class="col-md-2 text-center text-light">
                    <a routerLink="/typed-armor/legs/{{ equipment.legs?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.legs?.name }}
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/armor/boots/{{ equipment.boots?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.boots?.name }}
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/accessories/ring/{{ equipment.ring1?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.ring1?.name }}
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="/accessories/ring/{{ equipment.ring2?.id }}" class="text-secondary font-weight-bold">
                        {{ equipment.ring2?.name }}
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>





</div>
<!-- </div> -->
<!-- </div> -->